<div id="bodyWrapper" class="bg-white">
    <div id="serviceContainer" class="w-11/12 mx-auto flex-wrap md:flex justify-evenly p-4 center">
        <!-- 保存に成功したらメッセージを表示 -->
        <% if flash[:notice] %>
            <div>
                <%= flash[:notice] %>
            </div>
        <% end %>
        <div class="lg:w-5/12 w-5/6 mx-auto lg:my-auto my-16">
            <div class="rounded-lg border-2 border-gray-300 bg-gray-100  mx-2 my-4 p-2">
                <p  class="font-sans font-medium text-2xl">Rejected List</p>
                <% @rejected_tasks.each do |task| %>
                    <div id="rejectedList", class="flex flex-col h-min bg-white mx-2 my-4 rounded-lg shadow-md">
                        <div class="h-min rounded-t-lg flex justify-start border-b-2">
                            <div class="left-0 w-32 h-32">
                                <div class="w-32 h-32 bg-white rounded-tl-lg">
                                    <% task_image_path = "public/request_images/#{task.request.id}_#{task.request.image}" %>
                                    <% if File.exist?(task_image_path) %>
                                        <%= image_tag "/request_images/#{task.request.id}_#{task.request.image.force_encoding("UTF-8")}", class: "w-32 h-32 object-cover rounded-tl-lg" %>
                                    <% else %>
                                        <%= image_tag "/request_images/no_image.png", class: "w-32 h-32 object-cover rounded-tl-lg" %>
                                    <% end %>
                                </div>
                            </div>

                            <div class="m-2 w-max-full flex flex-col flex-grow justify-between">
                                <div class="overflow-hidden font-bold text-lg w-auto"><%= task.request.title %></div>
                                <div class="break-all text-base text-gray-700 h-auto"><%= task.request.message %></div>
                            </div>
                        </div>

                        <div class="m-2">
                            <div class="flex justify-between">
                                <div class="my-auto font-bold text-lg inset-y-0">拒否理由</div>
                                <div>
                                    <% task_image_path = "public/host_user_icons/#{task.host_user.id}_#{task.host_user.image}" %>
                                    <% if File.exist?(task_image_path) %>
                                        <%= image_tag "/host_user_icons/#{request.id}_#{request.image.force_encoding("UTF-8")}", class: "w-32 h-32 object-cover rounded-l-lg" %>
                                    <% else %>
                                        <%= image_tag "/host_user_icons/no_icon.png", class: "inline-block align-middle rounded-full h-12 w-12 bg-red-100" %>
                                    <% end %>
                                    <div class="inline-block align-middle font-bold text-lg w-max mx-2"><%= task.host_user.position %></div>
                                </div>
                            </div>
                            <div class="break-all text-base">
                                <%= task.comment %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>

            <div id="transitionButtons" class="flex justify-evenly my-4">
                <button onclick="location.href='/service'" class="w-1/3 mx-4 my-4 py-2 px-4 min-w-max font-semibold rounded-lg shadow-md bg-white border border-gray-300 font-medium text-gray-700 hover:bg-gray-50">Back to Service</button>
            </div>
        </div>
    </div>
<div>