<% if flash[:error_messages] %>
<div class="text-red-500">
    <ul>
        <% flash[:error_messages].each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= form_with model: @user, url: '/users' do |f| %>
    <div class="">
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: '' %>
    </div>
    <div class="">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.text_field :email, class: '' %>
    </div>
    <div class="">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: '' %>
    </div>
    <div class="">
        <%= f.label :password_confirmation, 'パスワード（確認）' %>
        <%= f.password_field :password_confirmation, class: '' %>
    </div>
    <div class="">
        <%= f.label :password_confirmation, '管理者として登録' %>
        <%= f.check_box 'is_host', {}, true, false %>
    </div>

    <%= f.submit '作成', class: '' %>
<% end %>
