<div class="flex">
<% if flash[:error_messages] %>
<div class="text-red-500">
    <ul>
        <% flash[:error_messages].each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
</div>


<div>
    <%= form_with model: @user, url: '/users' do |f| %>
        <div class="my-2 mx-auto w-11/12">
            <%# 'sr-only' %>
            <%= f.label :name, 'ユーザー名', class: '' %>
            <%= f.text_field :name, class: 'px-3 py-2 w-full border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', placeholder: 'User Name:' %>
        </div>
        <div class="my-2 mx-auto w-11/12">
            <%= f.label :email, 'メールアドレス', class: '' %>
            <%= f.text_field :email, class: 'px-3 py-2 w-full border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', placeholder: 'Email:' %>
        </div>
        <div class="my-2 mx-auto w-11/12">
            <%= f.label :password, 'パスワード', class: '' %>
            <%= f.password_field :password, class: 'w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', placeholder: 'Password:' %>
        </div>
        <div class="my-2 mx-auto w-11/12">
            <%= f.label :password_confirmation, 'パスワード（確認）', class: '' %>
            <%= f.password_field :password_confirmation, class: 'w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', placeholder: 'Confirm Password:' %>
        </div>
        <div class="my-2 mx-auto w-11/12">
            <%= f.label :is_host, '管理者として登録' %>
            <%= f.check_box 'is_host', {}, true, false %>
        </div>

        <div class="w-min mx-auto">
            <%= f.submit 'Sign up', class: 'h-12 py-1 px-4 my-4 font-semibold text-l shadow-md rounded-lg text-white bg-blue-500 hover:bg-blue-700' %>
        </div>

    <% end %>
</div>
