<%= form_with scope: :session, url: login_path do |f| %>
    <div class="my-2 mx-auto w-11/12">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.text_field :email, class: 'px-3 py-2 w-full border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', placeholder: 'Email:' %>
    </div>
    <div class="my-2 mx-auto w-11/12">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'px-3 py-2 w-full border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', placeholder: 'Password:' %>
    </div>


    <div class="w-min mx-auto">
        <%= f.submit 'Login', class: 'h-12 py-1 px-4 my-4 font-semibold text-l shadow-md rounded-lg text-white bg-blue-500 hover:bg-blue-700' %>
    </div>


<% end %>