<div id="bodyWrapper" class="bg-white">
    <div id="serviceContainer" class="w-11/12 mx-auto flex-wrap md:flex justify-evenly p-4 center">
        <div id="requestsBody" class="lg:w-5/12  w-5/6">

            <!-- 保存に失敗したらエラーメッセージを表示 -->
            <div class="bg-gray-100 rounded-lg border-2 border-gray-500 mx-2 my-4 p-2">
                <p class="font-sans font-medium text-2xl">Create A New Request</p>
    
                <% if flash[:error_messages] %>
                    <div class="text-red-500">
                        <ul>
                            <% flash[:error_messages].each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <!-- 保存に成功したらメッセージを表示 -->
                <% if flash[:notice] %>
                    <div>
                        <%= flash[:notice] %>
                    </div>
                <% end %>

                <div class="m-2">
                    <%= form_with model: @request do |f| %>
                        <div class="rounded-md shadow-sm -space-y-px">
                        </div>

                        <div class="">
                            <%= f.label :title, 'Title', class: 'sr-only' %>
                            <%= f.text_field :title, class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', placeholder: 'Title:' %>
                        </div>
                        <div class="">
                            <%= f.label :message, 'Message', class: 'sr-only' %>
                            <%= f.text_area :message, rows: 5, class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', placeholder: 'Message:' %>
                        </div>
                        <div class="flex-wrap justify-between m-2 xl:flex">
                            <div class="">
                                <%= f.label :image, '画像', class: 'クラスを設定' %>
                                <%= f.file_field :image, class: 'w-36 lg:w-64'  %>
                            </div>
                            <div class="">
                            <%= f.submit 'Send', class: 'm-2 py-2 px-4 font-semibold rounded-lg shadow-md border-2 border-black text-black bg-white hover:bg-gray-100' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>


            <div class="rounded-lg border-2 border-gray-500 bg-gray-100 mx-2 my-4 p-2">
                <p  class="font-sans font-medium text-2xl">Request List</p>
                <% @requests.each do |request|%>
                    <div id="requestsList" draggable="true" class="h-32 shadow-md bg-white rounded-lg mx-2 my-4 flex justify-start">
                        <div class="left-0 w-32 h-32">
                            <div class="w-32 h-32 bg-blue-300 rounded-l-lg">
                                <%= request.image %>
                            </div>
                        </div>
                        <div class="w-max m-2 truncate">
                            <div class="font-bold text-lg"><%= request.title %></div>
                            <div class="break-word text-base"><%= request.message %></div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>


        <div id="rightContainer" class="lg:w-5/12  w-5/6">
            <div class="rounded-lg border-2 border-gray-500 bg-gray-100  mx-2 my-4 p-2">
                <%# <hr> %>
                <p  class="font-sans font-medium text-2xl">Accepted List</p>
                <% @tasks.each do |task| %>
                    <div id="acceptedList", class="h-64 bg-white mx-2 my-4 rounded-lg shadow-md">
                        <div class="h-32 rounded-t-lg flex justify-start border-b-2">
                            <div class="left-0 w-32 h-32">
                                <div class="w-32 h-32 bg-blue-300 rounded-tl-lg">
                                    <%= task.request.image %>
                                    <p>a</p>
                                </div>
                            </div>

                            <div class="w-full m-2">
                                <div class="truncate font-bold text-lg w-max"><%= task.request.title %></div>
                                <div class="break-word text-base"><%= task.request.message %></div>
                            </div>
                        </div>

                        <div class="m-2">
                            <div class="flex justify-between">
                                <div class="my-auto font-bold text-lg inset-y-0">承認理由</div>
                                <div>
                                    <div class="inline-block align-middle rounded-full h-12 w-12 bg-red-100"><%= task.host_user.image %></div>
                                    <div class="inline-block align-middle font-bold text-lg w-max mx-2"><%= task.host_user.position %></div>
                                </div>
                            </div>
                            <div>
                                <%= task.comment %>
                            </div>
                        </div>
                    </div>


                    <%# <%= task.request.id %>
                    <%# <%= task.id %>
                    <%# <%= task.host_user.user_id %>
                <% end %>


            </div>
            <div id="transitionButtons" class="flex justify-evenly my-4">
                <input type="button" value="Rejected" class="h-16 w-1/3 py-2 px-4 font-semibold text-2xl rounded-lg shadow-md text-white bg-red-500 hover:bg-red-700">
                <input type="button" value="Done" value="Rejected" class="h-16 w-1/3 py-2 px-4 font-semibold text-2xl  rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700">
            </div>
        </div>
    </div>
</div>
