<div id="bodyWrapper">
    <p>service#index</p>
    <div id="serviceContainer" class="equalArrangement">
        <div id="requestsBody">
            <div id="requestForm" class="border">
                入力フォームがここ
            </div>

            <!-- 保存に失敗したらエラーメッセージを表示 -->
            <% if flash[:error_messages] %>
                <div>
                    <ul>
                        <% flash[:error_messages].each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <!-- 保存に成功したらメッセージを表示 -->
            <% if flash[:notice] %>
                <div>
                    <%= flash[:notice] %>
                </div>
            <% end %>

            <%= form_with model: @request do |f| %>
                <div>
                    <div>
                        <%= f.label :title, 'リクエストのタイトル', class: 'クラスを設定' %>
                        <%= f.text_field :title, class: 'クラスを設定' %>
                    </div>
                    <div>
                        <%= f.label :message, '内容', class: 'クラスを設定' %>
                        <%= f.text_area :message, rows: 5, class: 'クラスを設定' %>
                    </div>
                    <div>
                        <%= f.label :image, '画像', class: 'クラスを設定' %>
                        <%= f.file_field :image, rows: 5 %>
                    </div>
                    <%= f.submit '送信', class: 'クラスを設定' %>
                </div>
            <% end %>
         
            <% @requests.each do |request|%>
                <div id="requestsList", class="border centerize cardMargin">
                        <div><%= request.id %></div>
                        <div><%= request.title %></div>
                        <div><%= request.message %></div>
                        <div><%= request.image %></div>
                </div>
            <% end %>
        </div>


        <div id="rightContainer">
            <%# <hr> %>
            acceptedList
            <% @tasks.each do |task| %>
                <div><%= task.request.id %></div>
                <div><%= task.request.title %></div>
                <div><%= task.request.message %></div>
                <div><%= task.id %></div>
                <div><%= task.host_user.user_id %></div>
                <div><%= task.host_user.position %></div>
                <div><%= task.comment %></div>
            <% end %>
            <%# </div> %>
            <div id="transitionButtons" class="equalArrangement">
                <input type="button" value="Rejected">
                <input type="button" value="Done">
            </div>
        </div>
    </div>
</div>


<div class="font-sans bg-white h-screen flex flex-col w-full">
 <div class="h-screen bg-gradient-to-r from-green-400 to-blue-500">
  <div class="px-4 py-48">
   <div class="relative w-full text-center">
    <h1
     class="animate-pulse font-bold text-gray-200 text-2xl mb-6">
    Your TailwindCSS setup is working if this pulses....
    </h1>
   </div>
  </div>
 </div>
</div>