<div id="bodyWrapper">
    <p>service#index</p>
    <div id="serviceContainer" class="equalArrangement">
        <div id="requestsBody">
            <div id="requestForm" class="border">
                入力フォームがここ
            </div>

            <% @requests.each do |request|%>
                <div id="requestsList", class="border centerize cardMargin">
                        <div><%= request.id %></div>
                        <div><%= request.title %></div>
                        <div><%= request.message %></div>
                </div>
            <% end %>
        </div>


        <div id="rightContainer">
            <%# <hr> %>
            acceptedList
            <% @requests.each do |request|%>
                <div id="acceptedList", class="border cardMargin">
                    <div><%= request.id %></div>
                    <div><%= request.title %></div>
                    <div><%= request.message %></div>
                </div>
            <% end %>
            <%# </div> %>
            <div id="transitionButtons" class="equalArrangement">
                <input type="button" value="Rejected">
                <input type="button" value="Done">
            </div>
        </div>
    </div>
</div>


<div class="font-sans bg-white h-screen flex flex-col w-full">
 <div class="h-screen bg-gradient-to-r from-green-400 to-blue-500">
  <div class="px-4 py-48">
   <div class="relative w-full text-center">
    <h1
     class="animate-pulse font-bold text-gray-200 text-2xl mb-6">
    Your TailwindCSS setup is working if this pulses....
    </h1>
   </div>
  </div>
 </div>
</div>