<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" >
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <%#= stylesheet_pack_tag "application", "data-turbo-track": "reload" %> 

  </head>

  <body>
    <header class="relative bg-white ">
      <div class="py-2 px-4 max-h-full min-h-14 sm:min-h-16 flex flex-wrap justify-between border-b-2">
        <div class="font-sans text-4xl mx-2">
          <%# BI_service(logo) %>
          <%# <img src="/NEGARIA_string.png" class="h-12 object-contain", href="/service"> %>
          <%= link_to image_tag("/NEGARIA_string.png", class: "w-max h-10 sm:h-12 object-contain"), '/service' %>
          <%# <%= link_to("BI_service(logo)", "/service") %>
        </div>
        <div class="flex flex-row">
          <% if @current_user %>
            <p class="py-2 px-4 mx-2 h-10 sm:h-12 font-semibold">
              <%= @current_user.name %>
            </p>
            <%= link_to 'Log out', logout_path, method: :delete, class: 'py-2 px-4 mx-2 h-10 sm:h-12 min-w-max font-semibold text-sm sm:text-base rounded-lg shadow-md border-2 border-black text-black bg-white hover:bg-gray-300' %>
          <% else %>
            <%= link_to 'Log in', login_path, class: 'py-2 px-4 mx-2 h-10 sm:h-12 min-w-max font-semibold text-sm sm:text-base rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700' %>
            <%= link_to 'Sign up', new_user_path, class: 'py-2 px-4 mx-2 h-10 sm:h-12 min-w-max font-semibold text-sm sm:text-base rounded-lg shadow-md border-2 border-black text-black bg-white hover:bg-gray-300' %>
          <% end %>
        </div>
      </div>
    </header>
    <div class="related">
    <%= yield %>
    </div>

    <footer>

      <div class="mt-4 h-8 sm:h-10 flex flex-wrap justify-evenly border-t-2">
        <%# <div class="flex flex-row"> %>
          <%= link_to 'Home', "/", class: 'my-auto min-w-max' %>
          <%= link_to 'Service', "/service", class: 'my-auto min-w-max' %>
          <%= link_to 'プライバシーポリシー', "/", class: 'my-auto min-w-max' %>
          <%= link_to 'ご利用にあたって', "/", class: 'my-auto min-w-max' %>
        <%# </div> %>
      </div>

      <div class="text-center mb-2">
        Copyright © 2021 BI-team All Right Reserved.
      </div>

    </footer>
  </body>

</html>
